@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">ERROR</h2>
<h3 class="text-danger">Возникла ошибка при попытке блокирования учетной записи</h3>
<p class="text-danger">Вы пытаетесь заблокировать собственную учетную запись. Логика работы приложения не позволяет авторизованному в данный момент пользователю блокировать свою учетную запись</p>
<p class="text-danger">Выполнить блокирование учетной записи может другой пользователь с правами администратора</p>

<p><a class="btn btn-default" href='@Url.Action("ShowUsers", "UsersManagement", new {Area = "Administrator" }, null)'><span class="glyphicon glyphicon-circle-arrow-left"> Назад</span></a></p>
