@{
    ViewBag.Title = "Отзывы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Отзывы
                <small>Отзывы и пожелания</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Персональный раздел</li>
                <li class="active">Отзывы</li>
            </ol>
        </div>
    </div>

    <h3>@ViewData["cUrl"]</h3>

    <a href="#" class="scrollup1">Наверх</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FRScripts/toparrow.js"></script>
    <script>
        $(function () {
            $('#loadingImg').hide();
        });
    </script>
}