@{
    ViewBag.Title = "Авансовый отчет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/DateRangePicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

<style>
    .dataTables_scrollHeadInner {
        background-color: #eee;
    }

    #flowPanel div.dataTables_wrapper div.dataTables_filter {
        text-align: center !important;
        margin-top: 20px;
    }

    #flowPanel #prgtable_filter input {
        width: 300px !important;
        margin-right: 8px;
    }

    .ftAdd th {
        font-size: smaller;
        padding: 0;
    }
</style>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ОТЧЕТЫ
                <small>Альтернативный авансовый отчет (подробно)</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Персональный раздел</li>
                <li class="active">Альтернативный авансовый отчет</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
            <thead>
                <tr role="row" id="search-row" style="background-color:#ddddff" class="context-menu-one">
                    <th><input type="text" class="form-control input-sm dff dateFlt" readonly style="width: 100%" placeholder="Дата" value="@ViewData["Period"]" id="dateFlt" /></th>
                    <th><input type="text" class="form-control input-sm sb wksFlt" style="width: 100%" placeholder="Сотрудник" value="@ViewData["WorkerName"]" id="wksFlt" /></th>
                    <th><input type="text" class="form-control input-sm sb docFlt" style="width: 100%" placeholder="Документ" /></th>
                    <th><input type="text" class="form-control input-sm sb operFlt" style="width: 100%" placeholder="Операция" /></th>
                    <th><input type="text" class="form-control input-sm sb contrFlt" style="width: 100%" placeholder="Контрагент" /></th>
                    <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Передано" /></th>
                    <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Получено" /></th>
                    <th><input type="text" class="form-control input-sm sb currFlt" style="width: 100%" placeholder="&#8372" /></th>
                </tr>
                <tr role="row" class="context-menu-one">
                    <th>Дата</th>
                    <th>Сотрудник</th>
                    <th>Документ</th>
                    <th>Операция</th>
                    <th>Контрагент</th>
                    <th>Передано</th>
                    <th>Получено</th>
                    <th>&#8372</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr class="ftAdd context-menu-one">
                    <th colspan="5" style="text-align:right; vertical-align:top !important;">Итого:</th>
                    <th style="text-align:right;"></th>
                    <th style="text-align:right;"></th>
                    <th style="text-align:center;"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- #Плавающая панель -->
<div id="flowPanel" style="padding-bottom:10px;">
    <i class="fa fa-arrow-left" id="showButtonW">&nbsp;<span id="revText">СОТРУДНИКИ</span></i>
    <div style="width:100%; margin:26px auto; color:#eee" class="text-center">
        <span style="font-size:1.5em;"><i class="glyphicon glyphicon-user"></i>&nbsp;СОТРУДНИКИ</span>
    </div>

    <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
        <table style="background-color:white; width:100%; margin-top: 0 !important;"
               class="table table-bordered table-striped table-responsive table-hover gridtable"
               id="prgtable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Сотрудник</th>
                    <th><input id="allPrgCHB" checked type="checkbox"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- #endregion -->
<a href="#" class="scrollup1">Наверх</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/FRScripts/wksFilterFlowPanel.js"></script>
    <script src="~/Scripts/FRScripts/toparrow.js"></script>

    @*Блок скриптов для работы с DateRangePicker*@
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/DateRangePicker/jquery.daterangepicker.min.js"></script>
    <script>
        $(function () {
            $('.dff').each(function () {
                $(this).dateRangePicker(
                     {
                         language: 'ru',
                         startOfWeek: 'monday',
                         separator: ' - ',
                         format: 'DD/MM/YYYY',
                         autoClose: true,
                         monthSelect: true,
                         yearSelect: true,
                         setValue: function (s) {
                             $(this).val(s);
                         },
                         customOpenAnimation: function (cb) {
                             $(this).fadeIn(300, cb);
                         },
                         customCloseAnimation: function (cb) {
                             $(this).fadeOut(300, cb);
                         },
                         showShortcuts: false,
                         time: {
                             enabled: false
                         },
                         extraClass: 'date-range-pickerM'
                     })
                .bind('datepicker-closed', function (event, obj) {
                    $(this).attr('title', $(this).val()).trigger('change');
                })
                .bind('datepicker-open', function () {
                    $(this).data('dateRangePicker').clear();
                });

            });
        });
    </script>

    <script type="text/javascript">
        $(function () {
            //Скрипт работы с контекстным меню
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one, tr.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'filter':
                            if (fClass.indexOf("wksCellf") >= 0) {
                                $('.wksFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("docCellf") >= 0) {
                                $('.docFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("operCellf") >= 0) {
                                $('.operFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("contrCellf") >= 0) {
                                $('.contrFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("currCellf") >= 0) {
                                $('.currFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("dateCellf") >= 0) {
                                var dateStr = $(this).text() + ' - ' + $(this).text();
                                $('.dateFlt').val(dateStr).trigger('change');
                                break;
                            };
                            //-----------------------
                        case 'refresh':
                            ClearFilter();
                            break;
                        case 'epexport':
                            Export2Excel('../Export/ExportPlanDebitsF1');
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("Cellf") >= 0) { return false };
                            return true;
                        }
                    },
                    "refresh": { name: "Сброс фильтра", icon: "refresh" },
                    "separator": "-----",
                    "epexport": { name: "Экспорт в Excel", icon: "export2excel", disabled: true },
                }
            });

        });
    </script>

    <script>
        $('body').on('click', '#modeBtn', function () {
            window.location.href = '/Reports/AlternativeAdvanceConsolidated';
        })
    </script>


    <script>
        //-----------Функция создания таблицы отчета------------
        $(function () {
            $('#loadingImg').hide();
            var table = $('#gridtable')
                .on('preXhr.dt', function (e, settings, data) {

                    data.columns[0].search.value = $('#dateFlt').val();
                    data.columns[1].search.value = $('#wksFlt').val();
                })
                .DataTable({
                    "fixedHeader": {
                        "header": true,
                        "footer": true,
                        "headerOffset": $('#mainNavbar').height()
                    },
                    autoWidth: true,
                    paging: true,
                    processing: true,
                    serverSide: true,
                    filter: false,
                    orderMulti: false,
                    responsive: false,
                    searching: true,
                    lengthMenu: [
                                    [10, 25, 50, 100],
                                    ['10', '25', '50', '100']
                    ],
                    pageLength: 25, // Количество записей в таблице по умолчанию
                    pagingType: "simple_numbers",
                    dom: "<'row'<'col-sm-3'l><'col-sm-6'><'#repMode.col-sm-3 text-right'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        lengthMenu: "Записей: _MENU_",
                        zeroRecords: "Записи отсутствуют",
                        info: "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                        infoEmpty: "Записи отсутствуют",
                        infoFiltered: "(Отфильтровано из _MAX_ записей)",
                        search: "",
                        searchPlaceholder: "Проект...",
                        processing: "<div id='loadingImg'><div id='preloadImg'><img src='/Content/Images/loader.gif' /></div></div>",
                        sInfoThousands: " ",
                        oPaginate: {
                            sNext: ">",
                            sPrevious: "<"
                        }
                    },
                    ajax: {
                        type: 'POST',
                        url: '/Reports/GetAAR/',
                        datatype: "json",
                        data: function (d) {
                            d.filterWksIDs = window.filterWksIDs;
                        },
                        dataSrc: function (d) {
                            $('#loadingImg').hide();
                            if (!d.result) {
                                alert(d.message);
                                return false;
                            }
                            else {
                                return d.data;
                            }
                        },
                    },
                    order: [0, "desc"],
                    columns: [
                                {
                                    "data": "Date", "name": "Date", "autoWidth": true, "type": "date ",
                                    "render": function (value) {
                                        return formatDate(value);
                                    },
                                    "class": "dateCellf context-menu-one"
                                },
                                { data: "WorkerName", "autoWidth": true, bSortable: true, name: "WorkerName", "class": " wksCellf context-menu-one" },
                                { data: "DocNumber", "autoWidth": true, bSortable: true, name: "DocNumber", "class": "docCellf context-menu-one " },
                                { data: "Operation", "autoWidth": true, bSortable: true, name: "Operation", "class": "operCellf context-menu-one" },
                                { data: "CounteragentName", "autoWidth": true, bSortable: true, name: "CounteragentName", "class": "contrCellf context-menu-one" },
                                { data: "Payed", name: "Payed", "autoWidth": true, render: $.fn.dataTable.render.number('&nbsp;', ',', 2), bSortable: true, "class": "text-right context-menu-one" },
                                { data: "Received", name: "Received", "autoWidth": true, render: $.fn.dataTable.render.number('&nbsp;', ',', 2), bSortable: true, "class": "text-right context-menu-one" },
                                { data: "Currency", name: "Currency", "sWidth": 24, "class": "currCellf context-menu-one" }
                    ],

                    fnDrawCallback: function (settings) {
                        $('#repMode').html('<input id="modeBtn" type="button" class="btn btn-sm btn-primary" value="Сводный" title = "Сводный авансовый отчет"/>');

                        var numFormat = $.fn.dataTable.render.number('&nbsp;', ',', 2).display;
                        var api = this.api();
                        var json = api.ajax.json();

                        //Создаем объект с массивом итоговых значений для каждой валюты
                        var _total = JSON.parse(json.currTotal);
                        var _payed = '';
                        var _received = '';
                        var _currency = '';

                        // Формируем содержимое итоговых ячеек для каждой валюты.
                        _total.forEach(function (item, i) {
                            if (i == 0) {
                                _payed = numFormat(item.Payed);
                                _received = numFormat(item.Received);
                                _currency = item.Currency;
                            }
                            else {
                                _payed += '<br />' + numFormat(item.Payed);
                                _received += '<br />' + numFormat(item.Received);
                                _currency += '<br />' + item.Currency;
                            }
                        });

                        // Заполняем футер
                        $(api.column(5).footer()).html(_payed);
                        $(api.column(6).footer()).html(_received);
                        $(api.column(7).footer()).html(_currency);

                        //---------------------------------------------------------------------

                        //Инициализация таблицы проектов в плавающей панели
                        if (window._flag) {
                            //Заполнение массива проектов для таблицы в плавающей панели
                            _wksIDs = JSON.parse(json.wkslist)
                            var pTable = $('#prgtable').DataTable();
                            pTable.destroy();
                            wksTableCrate();
                            $('#flowPanel').height($('#prgtable_wrapper').height() + 80);
                            window._flag = false;
                        };
                    }
                });

            table.columns().eq(0).each(function (colIdx) {
                $('.sb', $('th')[colIdx]).on('keyup change', function () {
                    table.column(colIdx).search(this.value).draw();
                });

                $('.dff', $('th')[colIdx]).on('change', function () {
                    table.column(colIdx).search(this.value).draw();
                });

            });
        });

        function ClearFilter() {
            var table = $('#gridtable').DataTable();
            $(".sb, .dff").each(function (colIdx) {
                $(this).val('');
                table.column(colIdx).search('');
            });
            table.draw();
        }

        function formatDate(value) {
            if (value === null) return "";
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
            var _m = (dt.getMonth() + 1) < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
            return _d + "/" + _m + "/" + dt.getFullYear();
        };

    </script>
}