@{
    ViewBag.Title = "Авансовый отчет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/DateRangePicker/daterangepicker.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

<style>
    .dataTables_scrollHeadInner {
        background-color: #eee;
    }

    #flowPanel div.dataTables_wrapper div.dataTables_filter {
        text-align: center !important;
        margin-top: 20px;
    }

    #flowPanel #prgtable_filter input {
        width: 300px !important;
        margin-right: 8px;
    }

    .ftAdd th {
        font-size: smaller;
        padding: 0;
    }

    tr.group, tr.group:hover {
        font-weight: bold;
        text-align: center;
        color: rgba(85, 119, 169, 1);
        background-color: rgba(128, 200, 64, 0.3) !important;
    }
</style>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ОТЧЕТЫ
                <small>Альтернативный авансовый отчет (помесячно)</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Персональный раздел</li>
                <li class="active">Альтернативный авансовый отчет</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
            <thead>
                <tr role="row" id="search-row" style="background-color:#ddddff" class="context-menu-one">
                    <th><input type="text" class="form-control input-sm sb" style="width: 100%" /></th>
                    <th><input type="text" class="form-control input-sm sb" disabled style="width: 100%" /></th>
                    <th><input type="text" class="form-control input-sm sb wksFlt" style="width: 100%" placeholder="Сотрудник" /></th>
                    <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Получено" /></th>
                    <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Передано" /></th>
                    <th><input type="text" class="form-control input-sm sb currFlt" style="width: 100%" placeholder="&#8372" /></th>
                </tr>
                <tr role="row" class="context-menu-one">
                    <th>Дата</th>
                    <th>Месяц</th>
                    <th>Сотрудник</th>
                    <th>Получено</th>
                    <th>Передано</th>
                    <th>&#8372</th>
                </tr>
            </thead>
            <tbody></tbody>
            @*<tfoot>
                <tr class="ftAdd context-menu-one">
                    <th colspan="3" style="text-align:right; vertical-align:top !important;">Итого:</th>
                    <th style="text-align:right;"></th>
                    <th style="text-align:right;"></th>
                    <th style="text-align:center;"></th>
                </tr>
            </tfoot>*@
        </table>
    </div>
</div>

<!-- #Плавающая панель -->
<div id="flowPanel" style="padding-bottom:10px;">
    <i class="fa fa-arrow-left" id="showButtonW">&nbsp;<span id="revText">СОТРУДНИКИ</span></i>
    <div style="width:100%; margin:26px auto; color:#eee" class="text-center">
        <span style="font-size:1.5em;"><i class="glyphicon glyphicon-user"></i>&nbsp;СОТРУДНИКИ</span>
    </div>

    <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
        <table style="background-color:white; width:100%; margin-top: 0 !important;"
               class="table table-bordered table-striped table-responsive table-hover gridtable"
               id="prgtable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Сотрудник</th>
                    <th><input id="allPrgCHB" checked type="checkbox"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<!-- #endregion -->
<a href="#" class="scrollup1">Наверх</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/FRScripts/wksFilterFlowPanel.js"></script>
    <script src="~/Scripts/FRScripts/toparrow.js"></script>
    @*--------------------------------------------------------------------------------------------------------*@
    <script src="~/Scripts/moment.min.js"></script>


    <script type="text/javascript">
        $(function () {
            //Скрипт работы с контекстным меню
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one, tr.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'filter':
                            if (fClass.indexOf("wksCellf") >= 0) {
                                $('.wksFlt').val($(this).text()).trigger('change');
                                break;
                            };

                            if (fClass.indexOf("currCellf") >= 0) {
                                $('.currFlt').val($(this).text()).trigger('change');
                                break;
                            };
                        case 'expand':
                            var table = $("#gridtable").DataTable();
                            var json = table.ajax.json();
                            var wks = table.row(this).data().WorkerID;

                            var pattern = /Date\(([^)]+)\)/;
                            var results = pattern.exec(table.row(this).data().CDate);
                            var dt = new Date(parseFloat(results[1]));


                            var startDate = moment(dt).format('DD/MM/YYYY');
                            var endDate = moment(dt).add(1, 'months').date(0).format('DD/MM/YYYY');

                            if (fClass.indexOf("cExp") >= 0) {
                                var url = '@Url.Action("AlternativeAdvance", "Reports", new { WorkerID = "_wks_", startDate = "_startDate_", endDate = "_endDate_"})';
                                url = url.replace('_wks_', wks).replace('_startDate_', startDate).replace('_endDate_', endDate).replace(/amp;/g, '');
                                window.open(url, '_blank');
                            }
                            break;
                        case 'refresh':
                            ClearFilter();
                            break;
                        case 'epexport':
                            Export2Excel('../Export/ExportPlanDebitsF1');
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("Cellf") >= 0) { return false };
                            return true;
                        }
                    },
                    "sep1": "---------",
                    "expand": {
                        name: "Расшифровка",
                        icon: "expand",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("cExp") >= 0) { return false };
                            return true;
                        }
                    },
                    "separator": "-----",
                    "refresh": { name: "Сброс фильтра", icon: "refresh" },
                    "separator": "-----",
                    "epexport": { name: "Экспорт в Excel", icon: "export2excel", disabled: true },
                }
            });

        });
    </script>

    <script>
        $('body').on('click', '#modeBtn', function () {
            window.location.href = '/Reports/AlternativeAdvance';
        })
    </script>

    <script>
        //-----------Функция создания таблицы отчета------------
        $(function () {
            $('#loadingImg').hide();
            var table = $('#gridtable')
                .DataTable({
                    "fixedHeader": {
                        "header": true,
                        "footer": true,
                        "headerOffset": $('#mainNavbar').height()
                    },
                    autoWidth: true,
                    paging: true,
                    processing: true,
                    serverSide: true,
                    filter: false,
                    orderMulti: false,
                    responsive: false,
                    searching: true,
                    lengthMenu: [
                                    [10, 25, 50, 100],
                                    ['10', '25', '50', '100']
                    ],
                    pageLength: 25, // Количество записей в таблице по умолчанию
                    pagingType: "simple_numbers",
                    dom: "<'row'<'col-sm-3'l><'col-sm-6'><'#repMode.col-sm-3 text-right'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    language: {
                        lengthMenu: "Записей: _MENU_",
                        zeroRecords: "Записи отсутствуют",
                        info: "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                        infoEmpty: "Записи отсутствуют",
                        infoFiltered: "(Отфильтровано из _MAX_ записей)",
                        search: "",
                        searchPlaceholder: "Проект...",
                        processing: "<div id='loadingImg'><div id='preloadImg'><img src='/Content/Images/loader.gif' /></div></div>",
                        sInfoThousands: " ",
                        oPaginate: {
                            sNext: ">",
                            sPrevious: "<"
                        }
                    },
                    ajax: {
                        type: 'POST',
                        url: '/Reports/GetAARCons/',
                        datatype: "json",
                        data: function (d) {
                            d.filterWksIDs = window.filterWksIDs;
                        },
                        dataSrc: function (d) {
                            $('#loadingImg').hide();
                            if (!d.result) {
                                alert(d.message);
                                return false;
                            }
                            else {
                                return d.data;
                            }
                        },
                    },
                    order: [0, 'desc'],
                    columnDefs: [{ "targets": [0], "visible": false }],
                    columns: [
                                { "data": "CDate", "name": "CDate", "autoWidth": false },
                                {
                                    data: null, "sWidth": 100, bSortable: true, iDataSort: 0, name: "DT", "class": "context-menu-one cExp",
                                    render: function (data) {
                                        return getMonth(data.CDate);
                                    }
                                },
                                { data: "WorkerName", "autoWidth": true, bSortable: true, name: "WorkerName", "class": " wksCellf context-menu-one cExp" },
                                { data: "Received", name: "Received", sWidth: 24, render: $.fn.dataTable.render.number('&nbsp;', ',', 2), bSortable: true, "class": "text-right context-menu-one cExp" },
                                { data: "Payed", name: "Payed", sWidth: 24, render: $.fn.dataTable.render.number('&nbsp;', ',', 2), bSortable: true, "class": "text-right context-menu-one cExp" },
                                { data: "Currency", name: "Currency", sWidth: 24, "class": "currCellf context-menu-one cExp" }
                    ],

                    fnDrawCallback: function (settings) {
                        $('#repMode').html('<input id="modeBtn" type="button" class="btn btn-sm btn-primary" value="Подробно" title = "Подробный авансовый отчет"/>');

                        var numFormat = $.fn.dataTable.render.number('&nbsp;', ',', 2).display;
                        var api = this.api();
                        var json = api.ajax.json();

                        //Группировка записей по месяцам
                        var rows = api.rows({ page: 'current' }).nodes();
                        var last = null;

                        api.column(0, { page: 'current' }).data().each(function (group, i) {

                            if (last !== group) {
                                var groupStr = getMonth(group);
                                $(rows).eq(i).before(
                                    '<tr class="group"><td colspan="5" class="context-menu-one">' + groupStr + '</td></tr>'
                                );
                                last = group;
                            }
                        });

                        ////Итоги
                        ////Создаем объект с массивом итоговых значений для каждой валюты
                        //var _total = JSON.parse(json.currTotal);
                        //var _received = '';
                        //var _payed = '';
                        //var _currency = '';

                        //// Формируем содержимое итоговых ячеек для каждой валюты.
                        //_total.forEach(function (item, i) {
                        //    if (i == 0) {
                        //        _received = numFormat(item.Received);
                        //        _payed = numFormat(item.Payed);
                        //        _currency = item.Currency;
                        //    }
                        //    else {
                        //        _received += '<br />' + numFormat(item.Received);
                        //        _payed += '<br />' + numFormat(item.Payed);
                        //        _currency += '<br />' + item.Currency;
                        //    }
                        //});

                        //// Заполняем футер
                        //$(api.column(3).footer()).html(_received);
                        //$(api.column(4).footer()).html(_payed);
                        //$(api.column(5).footer()).html(_currency);

                        ////---------------------------------------------------------------------

                        //Инициализация таблицы проектов в плавающей панели
                        if (window._flag) {
                            //Заполнение массива проектов для таблицы в плавающей панели
                            _wksIDs = JSON.parse(json.wkslist)
                            var pTable = $('#prgtable').DataTable();
                            pTable.destroy();
                            wksTableCrate();
                            $('#flowPanel').height($('#prgtable_wrapper').height() + 80);
                            window._flag = false;
                        };
                    }
                });

            table.columns().eq(0).each(function (colIdx) {
                $('.sb', $('th')[colIdx]).on('keyup change', function () {
                    table.column(colIdx).search(this.value).draw();
                });

                $('.dff', $('th')[colIdx]).on('change', function () {
                    table.column(colIdx).search(this.value).draw();
                });

            });
        });


        function getMonth(_cDate) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(_cDate);
            var dt = new Date(parseFloat(results[1]));
            var _yDate = dt.getFullYear();
            var _mDate = dt.getMonth() + 1;
            var resStr = '';

            switch (_mDate) {
                case 1:
                    resStr = 'Январь ' + _yDate;
                    break;
                case 2:
                    resStr = 'Февраль ' + _yDate;
                    break;
                case 3:
                    resStr = 'Март ' + _yDate;
                    break;
                case 4:
                    resStr = 'Апрель ' + _yDate;
                    break;
                case 5:
                    resStr = 'Май ' + _yDate;
                    break;
                case 6:
                    resStr = 'Июнь ' + _yDate;
                    break;
                case 7:
                    resStr = 'Июль ' + _yDate;
                    break;
                case 8:
                    resStr = 'Август ' + _yDate;
                    break;
                case 9:
                    resStr = 'Сентябрь ' + _yDate;
                    break;
                case 10:
                    resStr = 'Октябрь ' + _yDate;
                    break;
                case 11:
                    resStr = 'Ноябрь ' + _yDate;
                    break;
                case 12:
                    resStr = 'Декабрь ' + _yDate;
                    break;
                default:
                    resStr = 'NaN';
                    break;
            }
            return resStr;
        }

        function ClearFilter() {
            var table = $('#gridtable').DataTable();
            $(".sb, .dff").each(function (colIdx) {
                $(this).val('');
                table.column(colIdx).search('');
            });
            table.draw();
        }

    </script>
}