@{
    ViewBag.Title = "Анализ плановых показателей";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var years = Enumerable
    .Range(DateTime.Now.Year - 10, 11)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(),
        Text = year.ToString(),
        Selected = (year == DateTime.Today.Year)
    });
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

<style>
    .DTFC_LeftFootWrapper, .DTFC_RightFootWrapper {
        top: 24px !important;
    }

    .dataTables_scrollFootInner {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    .DTFC_RightHeadBlocker {
        background-color: #eee;
        border: 1px solid #eee;
    }

    .DTFC_RightFootBlocker {
        background-color: #eee;
        border: 1px solid #ddd;
        margin-top: -1px;
        height: calc(100% + 1px) !important;
    }

    .dataTables_filter input {
        width: 16em !important;
    }
</style>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ОТЧЕТЫ
                <small>Анализ плановых показателей</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Отчеты</li>
                <li class="active">Анализ плановых показателей</li>
            </ol>
        </div>
    </div>

    <!-- #region Блок диаграммы -->

    <div id="chartReport" hidden>
        <div class="row form-inline">
            @Html.DropDownList("year", years, new
       {
           @class = "form-control form-inline input-sm",
           style = "margin:2px; width:100px; display:inline-block;",
           id = "YDDL",
       })

            <select id="chartType" class="form-control input-sm" style="width:140px;">
                <option value="bar">Графбар</option>
                <option value="line">Линейная</option>
            </select>

            <input type="button" class="btn btn-sm btn-primary modeBtn" style="width:140px;" value="Табличный отчет">
        </div>

        <div class="row chartRow">
            <div class="chartContainer" id="cnvdiv">
                <canvas id="myChart" width="800" height="400"></canvas>
            </div>
            <div class="chartInfoes">
                <span id="pcsum" class="inStat">ДОХОДЫ</span>
                <span id="pdsum" class="outStat">РАСХОДЫ</span>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region Блок табличного отчета -->
    <div id="tblReport" hidden>
        <div class="row">
            @Html.DropDownList("PeriodDDL", (SelectList)ViewData["periodItems"], null, new
       {
           @class = "form-control input-sm",
           name = "PeriodDDL",
           title = "Плановый период",
           style = "float:right !important; margin-right:0; width:16em;"
       })
            <input type="button" class="btn btn-primary btn-sm modeBtn" style="width:140px;" value="Диаграмма">
        </div>
        <div class="row">
            <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
                <thead>
                    <tr>
                        <th rowspan="2">Проект</th>
                        <th colspan="2">Период 1</th>
                        <th colspan="2">Период 2</th>
                        <th colspan="2">Период 3</th>
                        <th colspan="2">Период 4</th>
                        <th colspan="2">Период 5</th>
                        <th colspan="2">Период 6</th>
                        <th colspan="2">Период 7</th>
                        <th colspan="2">Период 8</th>
                        <th colspan="2">Период 9</th>
                        <th colspan="2">Период 10</th>
                        <th colspan="2">Период 11</th>
                        <th colspan="2">Период 12</th>
                        <th colspan="2">Итого</th>
                    </tr>
                    <tr>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="tright">
                        <th></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                        <th class="smallTH"></th>
                    </tr>
                    <tr>
                        <th style="min-width:16em !important; text-align:right !important"></th>
                        <th colspan="2" class="smallTH text-center"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH"></th>
                        <th colspan="2" class="smallTH" style="min-width:12em !important;"></th>
                    </tr>
                </tfoot>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->

    <a href="#" class="scrollup1">Наверх</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/toparrow.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script>
        $(function () {
            $('#loadingImg').hide();
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });


        $('body').on('change', '#YDDL', function (e) {
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        $('body').on('change', '#chartType', function (e) {
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        function GetChart(_Year, chartType) {
            $('#loadingImg').show();
            $.get('/Reports/GetPlanData', {
                Year: _Year,
            },
                    function (data) {
                        $('#loadingImg').hide();
                        if (data.Result) {
                            $("#ModeLabel").html(data.Message);
                            $('#ModeElem').val(data.Mode);
                            var pcsum = data.pcsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcavg = data.pcavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmin = data.pcmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmax = data.pcmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pcsum').html('<tt><dl class="dl-horizontal chartDL">'
                                + '<dt>SUM:&nbsp;</dt><dd class="text-right">' + pcsum + '</dd>'
                                + '<dt>AVG:&nbsp;</dt><dd class="text-right">' + pcavg + '</dd>'
                                + '<dt>MIN:&nbsp;</dt><dd class="text-right">' + pcmin + '</dd>'
                                + '<dt>MAX:&nbsp;</dt><dd class="text-right">' + pcmax + '</dd></dl></tt>');

                            var pdsum = data.pdsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdavg = data.pdavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmin = data.pdmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmax = data.pdmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pdsum').html('<tt><dl class="dl-horizontal chartDL">'
                                + '<dt>SUM:&nbsp;</dt><dd class="text-right">' + pdsum + '</dd>'
                                + '<dt>AVG:&nbsp;</dt><dd class="text-right">' + pdavg + '</dd>'
                                + '<dt>MIN:&nbsp;</dt><dd class="text-right">' + pdmin + '</dd>'
                                + '<dt>MAX:&nbsp;</dt><dd class="text-right">' + pdmax + '</dd></dl></tt>');
                            DrawChart(data.Mode, data.ChartData, data.ChartDataA, chartType, _Year);
                        }
                        else {
                            alert(data.Message);
                        }
                    });
        };

        function DrawChart(mode, ChartData, ChartDataA, chartType, _Year) {

            $('#myChart').remove();
            $('#cnvdiv').append('<canvas id="myChart" width="800" height="400"><canvas>');

            var canvas = $('#myChart');
            var ctx = canvas.get(0).getContext("2d");

            var myChart = new Chart(ctx, {
                type: chartType,
                data: {
                    labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                    datasets: [
                        {
                            label: 'План доходов',
                            data: ChartData,
                            backgroundColor: 'rgba(128, 200, 64, 0.2)',
                            borderColor: 'rgba(128, 200, 64, 1)',
                            borderWidth: 1
                        },

                         {
                             label: 'План расходов',
                             data: ChartDataA,
                             backgroundColor: 'rgba(255, 99, 132, 0.2)',
                             borderColor: 'rgba(255, 99, 132, 1)',
                             borderWidth: 1
                         }
                    ]
                },
                options: {
                    responsive: false, // Без этой строки появляется ошибка "Cannot read property 'currentStyle' of null" при изменении масштаба.
                    maintainAspectRatio: true,
                    title: {
                        display: true,
                        position: 'top',
                        fontSize: 14,
                        fontColor: '#46709D',
                        text: 'Анализ плановых показателей за ' + _Year + ' год'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                //yAxes labels currency format.
                                //Для корректного формирования значения подписи оси используем функцию toFixed()с разными параметрами.
                                callback: function (label, index, labels) {
                                    if (label <= 1) {
                                        return label.toFixed(1).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                                    }
                                    else {
                                        return label.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                                    }
                                }
                            }
                        }]
                    },
                    // Tooltips currency format
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                            }
                        }
                    }
                }
            });
        };

    </script>

    <script type="text/javascript">
        //Скрипт для работы с контекстным меню
        $(function () {
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'filter':
                            if (fClass.indexOf("prgCellf") >= 0) {
                                $('#gridtable_filter').find('input').val($(this).text()).trigger('keyup');
                            }
                            break;
                        case 'refresh':
                            ClearFilter();
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("Cellf") >= 0) { return false };
                            return true;
                        }
                    },
                    "refresh": { name: "Сброс фильтра", icon: "refresh" }
                }
            });
        });
    </script>

    <script>
        //Скрипт переключения режимов отображения отчета (Диаграмма/Табличный)
        $(function () {
            var planReportMode = "Chart";
            if (localStorage.getItem('PlanReportType')) {
                planReportMode = localStorage.getItem('PlanReportType');
            }
            switch (planReportMode) {
                case "Table":
                    $('#chartReport').fadeOut(500, function () {
                        $('#loadingImg').hide();
                        $('#tblReport').fadeIn(500, function () {
                            createGrid();
                        });
                    });
                    return;
                case "Chart":
                    $('#tblReport').fadeOut(500, function () {
                        $('#chartReport').fadeIn(500, function () {
                            var table = $('#gridtable').DataTable();
                            table.destroy();
                        });
                    });
                    return;
                default:
                    return;
            }
        });

        $('body').on('click', '.modeBtn', function () {
            if ($(this).val() === 'Табличный отчет') {
                $('#chartReport').fadeOut(500, function () {
                    localStorage.setItem('PlanReportType', "Table");
                    $('#loadingImg').hide();
                    $('#tblReport').fadeIn(500, function () {
                        createGrid();
                    });
                });
            }
            if ($(this).val() === 'Диаграмма') {
                $('#tblReport').fadeOut(500, function () {
                    localStorage.setItem('PlanReportType', "Chart");
                    $('#chartReport').fadeIn(500, function () {
                        var table = $('#gridtable').DataTable();
                        table.destroy();
                    });
                });
            }
        });
    </script>

    <script>
        //Скрипт для работы с фильтром выбора планового периода
        $(function () {
            //Читаем значение фильтра планового периода
            if (localStorage.getItem('PlanningPeriod') !== null) {
                var DDLVal = localStorage.getItem('PlanningPeriod');
                $('#PeriodDDL').val(DDLVal);
            }

            $('body').on('change', '#PeriodDDL', function () {
                localStorage.setItem('PlanningPeriod', $(this).val());
                var table = $("#gridtable").DataTable();
                table.draw();
            });
        });
    </script>

    <script>
        //Скрипт создания таблицы
        function createGrid() {
            $('#loadingImg').hide();
            var table = $('#gridtable').DataTable({
                scrollY: "400px",
                scrollX: '100%',
                scrollCollapse: true,
                paging: true,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 2
                },
                processing: true,
                serverSide: true,
                filter: true,
                orderMulti: false,
                responsive: false,
                pageLength: 25, // Количество записей в таблице по умолчанию
                pagingType: "simple_numbers",
                dom: "<'row'<'col-sm-3'l><'#alrt.col-sm-6 text-center'B><'col-sm-3'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                "fnDrawCallback": function (settings) {
                    $("#alrt").html('<h2 class="text-danger">В РАЗРАБОТКЕ</h2>');
                },
                language: {
                    lengthMenu: "Записей: _MENU_",
                    zeroRecords: "Записи отсутствуют",
                    info: "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                    infoEmpty: "Записи отсутствуют",
                    infoFiltered: "(Отфильтровано из _MAX_ записей)",
                    search: "",
                    searchPlaceholder: "Проект...",
                    processing: "<div id='loadingImg'><div id='preloadImg'><img src='../Content/Images/loader.gif' /></div></div>",
                    sInfoThousands: " ",
                    oPaginate: {
                        sNext: ">",
                        sPrevious: "<"
                    }
                },
                ajax: {
                    url: "/Reports/LoadTabRep",
                    type: "POST",
                    datatype: "json",
                    //Получаем Id планового периода.
                    // Использование ф-ции необходимо для обновления значения выпадающего списка при повторной отправке запроса.
                    data: function (d) {
                        d.PeriodId = $("#PeriodDDL").val();
                    },
                    dataSrc: function (d) {
                        if (d.data.length === 0) {
                            if (d.errormessage != "") {
                                alert(d.errormessage);
                            }
                        }
                        return d.data;
                    },
                },
                order: [[0, "asc"]],
                columns: [
                    { data: "ProjectName", name: "ProjectName", "class": "context-menu-one prgCellf" },

                    { data: "d1c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d1d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d2c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d2d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d3c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d3d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d4c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d4d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d5c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d5d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d6c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d6d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d7c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d7d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d8c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d8d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d9c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d9d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d10c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d10d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d11c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d11d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d12c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d12d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                      { data: "dresc", "autoWidth": true, bSortable: false, render: $.fn.dataTable.render.number('&nbsp;', ',', 1), "class": "text-right context-menu-one text-info" },
                    { data: "dresd", "autoWidth": true, bSortable: false, render: $.fn.dataTable.render.number('&nbsp;', ',', 1), "class": "text-right context-menu-one text-info" },
                ],
                fnDrawCallback: function (settings) {
                    var api = this.api();
                    var json = api.ajax.json();
                    $(api.column(0).footer()).html(json.summary.RowName);
                    var numFormat = $.fn.dataTable.render.number('&nbsp;', ',', 1).display;
                    $(api.column(1).footer()).html(numFormat(json.summary.d1c));
                    $(api.column(2).footer()).html(numFormat(json.summary.d1d));
                    $(api.column(3).footer()).html(numFormat(json.summary.d2c));
                    $(api.column(4).footer()).html(numFormat(json.summary.d2d));
                    $(api.column(5).footer()).html(numFormat(json.summary.d3c));
                    $(api.column(6).footer()).html(numFormat(json.summary.d3d));
                    $(api.column(7).footer()).html(numFormat(json.summary.d4c));
                    $(api.column(8).footer()).html(numFormat(json.summary.d4d));
                    $(api.column(9).footer()).html(numFormat(json.summary.d5c));
                    $(api.column(10).footer()).html(numFormat(json.summary.d5d));
                    $(api.column(11).footer()).html(numFormat(json.summary.d6c));
                    $(api.column(12).footer()).html(numFormat(json.summary.d6d));
                    $(api.column(13).footer()).html(numFormat(json.summary.d7c));
                    $(api.column(14).footer()).html(numFormat(json.summary.d7d));
                    $(api.column(15).footer()).html(numFormat(json.summary.d8c));
                    $(api.column(16).footer()).html(numFormat(json.summary.d8d));
                    $(api.column(17).footer()).html(numFormat(json.summary.d9c));
                    $(api.column(18).footer()).html(numFormat(json.summary.d9d));
                    $(api.column(19).footer()).html(numFormat(json.summary.d10c));
                    $(api.column(20).footer()).html(numFormat(json.summary.d10d));
                    $(api.column(21).footer()).html(numFormat(json.summary.d11c));
                    $(api.column(22).footer()).html(numFormat(json.summary.d11d));
                    $(api.column(23).footer()).html(numFormat(json.summary.d12c));
                    $(api.column(24).footer()).html(numFormat(json.summary.d12d));
                    $(api.column(25).footer()).html(numFormat(json.summary.dresc));
                    $(api.column(26).footer()).html(numFormat(json.summary.dresd));

                    $('tr:eq(1) th:eq(0)', api.table().footer()).html(json.deviation.DevRowName);
                    $('tr:eq(1) th:eq(1)', api.table().footer()).html(numFormat(json.deviation.dev1));
                    $('tr:eq(1) th:eq(2)', api.table().footer()).html(numFormat(json.deviation.dev2));
                    $('tr:eq(1) th:eq(3)', api.table().footer()).html(numFormat(json.deviation.dev3));
                    $('tr:eq(1) th:eq(4)', api.table().footer()).html(numFormat(json.deviation.dev4));
                    $('tr:eq(1) th:eq(5)', api.table().footer()).html(numFormat(json.deviation.dev5));
                    $('tr:eq(1) th:eq(6)', api.table().footer()).html(numFormat(json.deviation.dev6));
                    $('tr:eq(1) th:eq(7)', api.table().footer()).html(numFormat(json.deviation.dev7));
                    $('tr:eq(1) th:eq(8)', api.table().footer()).html(numFormat(json.deviation.dev8));
                    $('tr:eq(1) th:eq(9)', api.table().footer()).html(numFormat(json.deviation.dev9));
                    $('tr:eq(1) th:eq(10)', api.table().footer()).html(numFormat(json.deviation.dev10));
                    $('tr:eq(1) th:eq(11)', api.table().footer()).html(numFormat(json.deviation.dev11));
                    $('tr:eq(1) th:eq(12)', api.table().footer()).html(numFormat(json.deviation.dev12));
                    $('tr:eq(1) th:eq(13)', api.table().footer()).html(numFormat(json.deviation.devres));

                    if (json.deviation.dev1 * 1 > 0) { $('tr:eq(1) th:eq(1)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev1 * 1 < 0) { $('tr:eq(1) th:eq(1)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev2 * 1 > 0) { $('tr:eq(1) th:eq(2)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev2 * 1 < 0) { $('tr:eq(1) th:eq(2)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev3 * 1 > 0) { $('tr:eq(1) th:eq(3)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev3 * 1 < 0) { $('tr:eq(1) th:eq(3)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev4 * 1 > 0) { $('tr:eq(1) th:eq(4)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev4 * 1 < 0) { $('tr:eq(1) th:eq(4)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev5 * 1 > 0) { $('tr:eq(1) th:eq(5)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev5 * 1 < 0) { $('tr:eq(1) th:eq(5)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev6 * 1 > 0) { $('tr:eq(1) th:eq(6)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev6 * 1 < 0) { $('tr:eq(1) th:eq(6)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev7 * 1 > 0) { $('tr:eq(1) th:eq(7)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev7 * 1 < 0) { $('tr:eq(1) th:eq(7)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev8 * 1 > 0) { $('tr:eq(1) th:eq(8)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev8 * 1 < 0) { $('tr:eq(1) th:eq(8)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev9 * 1 > 0) { $('tr:eq(1) th:eq(9)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev9 * 1 < 0) { $('tr:eq(1) th:eq(9)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev10 * 1 > 0) { $('tr:eq(1) th:eq(10)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev10 * 1 < 0) { $('tr:eq(1) th:eq(10)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev11 * 1 > 0) { $('tr:eq(1) th:eq(11)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev11 * 1 < 0) { $('tr:eq(1) th:eq(11)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.dev12 * 1 > 0) { $('tr:eq(1) th:eq(12)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.dev12 * 1 < 0) { $('tr:eq(1) th:eq(12)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    if (json.deviation.devres * 1 > 0) { $('tr:eq(1) th:eq(13)', api.table().footer()).css('background-color', 'rgba(128, 200, 64, 0.2)'); }
                    else if (json.deviation.devres * 1 < 0) { $('tr:eq(1) th:eq(13)', api.table().footer()).css('background-color', 'rgba(255, 99, 132, 0.2)'); }

                    table.fixedColumns().update();

                    $('#alrt').html('<span class="text-danger text-bold">В РАЗРАБОТКЕ</span>');
                }
            });
        };
    </script>

    <script>
        function ClearFilter() {
            $('#gridtable_filter').find('input').val('').trigger('keyup');
        }
    </script>
}