@{
    ViewBag.Title = "Анализ плановых показателей";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var years = Enumerable
    .Range(DateTime.Now.Year - 10, 11)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(),
        Text = year.ToString(),
        Selected = (year == DateTime.Today.Year)
    });
}

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ОТЧЕТЫ
                <small>Анализ плановых показателей</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Отчеты</li>
                <li class="active">Анализ плановых показателей</li>
            </ol>
        </div>
    </div>

    <div class="row form-inline">
        @Html.DropDownList("year", years, new
   {
       @class = "form-control form-inline",
       style = "margin:2px; width:100px; display:inline-block;",
       id = "YDDL",
   })

        <select id="chartType" class="form-control" style="width:140px;">
            <option value="bar">Графбар</option>
            <option value="line">Линейная</option>
        </select>

    </div>

    <div class="row chartRow">
        <div class="chartContainer" id="cnvdiv">
            <canvas id="myChart" width="800" height="400"></canvas>
        </div>
        <div class="chartInfoes">
            <span id="pcsum" class="inStat">ДОХОДЫ</span>
            <span id="pdsum" class="outStat">РАСХОДЫ</span>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Chart.js"></script>
    <script>
        $(function () {
            $('#loadingImg').hide();
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });


        $('body').on('change', '#YDDL', function (e) {
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        $('body').on('change', '#chartType', function (e) {
            var _Year = $('#YDDL').val();
            var chartType =$("#chartType").val();
            GetChart(_Year, chartType);
        });

        function GetChart(_Year, chartType) {
            $('#loadingImg').show();
            $.get('/Reports/GetPlanData', {
                Year: _Year,
            },
                    function (data) {
                        $('#loadingImg').hide();
                        if (data.Result) {
                            $("#ModeLabel").html(data.Message);
                            $('#ModeElem').val(data.Mode);
                            var pcsum = data.pcsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcavg = data.pcavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmin = data.pcmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmax = data.pcmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pcsum').html('SUM:&nbsp;' + pcsum + '<br />AVG:&nbsp;' + pcavg + '<br />MIN:&nbsp;' + pcmin + '<br />MAX:&nbsp;' + pcmax);

                            var pdsum = data.pdsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdavg = data.pdavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmin = data.pdmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmax = data.pdmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pdsum').html('SUM:&nbsp;' + pdsum + '<br />AVG:&nbsp;' + pdavg + '<br />MIN:&nbsp;' + pdmin + '<br />MAX:&nbsp;' + pdmax);
                            DrawChart(data.Mode, data.ChartData, data.ChartDataA, chartType, _Year);
                        }
                        else {
                            alert(data.Message);
                        }
                    });
        };

        function DrawChart(mode, ChartData, ChartDataA, chartType, _Year) {

            $('#myChart').remove();
            $('#cnvdiv').append('<canvas id="myChart" width="800" height="400"><canvas>');

            var canvas = $('#myChart');
            var ctx = canvas.get(0).getContext("2d");

            var myChart = new Chart(ctx, {
                type: chartType,
                data: {
                    labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Декабрь"],
                    datasets: [
                        {
                            label: 'План доходов',
                            data: ChartData,
                            backgroundColor: 'rgba(128, 200, 64, 0.2)',
                            borderColor: 'rgba(128, 200, 64, 1)',
                            borderWidth: 1
                        },

                         {
                             label: 'План расходов',
                             data: ChartDataA,
                             backgroundColor: 'rgba(255, 99, 132, 0.2)',
                             borderColor: 'rgba(255, 99, 132, 1)',
                             borderWidth: 1
                         }
                    ]
                },
                options: {
                    responsive: false, // Без этой строки появляется ошибка "Cannot read property 'currentStyle' of null" при изменении масштаба.
                    maintainAspectRatio: true,
                    title: {
                        display: true,
                        position: 'top',
                        fontSize: 14,
                        fontColor: '#46709D',
                        text: 'График плановых показателей за '+_Year+' год'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        };

    </script>
}