@{
    ViewBag.Title = "Анализ плановых показателей";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var years = Enumerable
    .Range(DateTime.Now.Year - 10, 11)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(),
        Text = year.ToString(),
        Selected = (year == DateTime.Today.Year)
    });
}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />

<style>
    .dataTables_scrollHeadInner {
        background-color: #eee;
    }

    #flowPanel div.dataTables_wrapper div.dataTables_filter {
        text-align: center !important;
        margin-top: 10px;
    }

    #flowPanel #prgtable_filter input {
        width: 300px !important;
        margin-right: 8px;
    }
</style>

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ОТЧЕТЫ
                <small>Анализ плановых показателей</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Отчеты</li>
                <li class="active">Анализ плановых показателей</li>
            </ol>
        </div>
    </div>

    <div class="row form-inline">
        @Html.DropDownList("year", years, new
   {
       @class = "form-control form-inline input-sm",
       style = "margin:2px; width:100px; display:inline-block;",
       id = "YDDL"
   })
        <select id="chartType" class="form-control input-sm" style="width:140px;">
            <option value="bar">Графбар</option>
            <option value="line">Линейная</option>
        </select>
        <button class="btn btn-sm btn-primary" title="Сброс фильтра проектов" id="chartRefresh"><i class="glyphicon glyphicon-refresh"></i></button>
    </div>

    <div class="row chartRow">
        <div class="chartContainer" id="cnvdiv">
            <canvas id="myChart" width="800" height="400"></canvas>
        </div>
        <div class="chartInfoes">
            <span id="pcsum" class="inStat">ДОХОДЫ</span>
            <span id="pdsum" class="outStat">РАСХОДЫ</span>
        </div>
    </div>

    <!-- #Плавающая панель -->
    <div id="flowPanel" data-mode="chart">
        <i class="fa fa-arrow-left" id="showButton">&nbsp;<span class="revTextRight">ПРОЕКТЫ</span></i>
        <div style="width:100%; margin:20px auto; color:#eee" class="text-center">
            <span style="font-size:1.5em;"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;ПРОЕКТЫ</span>
        </div>

        <div style="width:96%; background-color:white; margin: 10px auto; padding:0;">
            <table style="background-color:white; width:100%; margin-top:0 !important;"
                   class="table table-bordered table-striped table-responsive table-hover gridtable"
                   id="prgtable">
                <thead>
                    <tr>
                        <th>IPA</th>
                        <th>ID</th>
                        <th>Проект</th>
                        <th><input id="allPrgCHB" checked type="checkbox"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!-- #endregion -->

    <a href="#" class="scrollup1">Наверх</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedHeader.min.js"></script>
    <script src="~/Scripts/FRScripts/fFlowPanelPrj.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/FRScripts/toparrow.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script>
        $(function () {
            $('#loadingImg').hide();
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        $('body').on('click', '#chartRefresh', function () {
            globalVarsClear();
        });

        $('body').on('change', '#YDDL', function (e) {
            window._prjIDs = [];
            window.filterPrjIDs = [];
            window._flag = true;
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        $('body').on('change', '#chartType', function (e) {
            window._prjIDs = [];
            window.filterPrjIDs = [];
            window._flag = true;
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        function GetChart(_Year, chartType) {
            $('#loadingImg').show();
            $.get('/Reports/GetPlanData', {
                Year: _Year,
                filterPrjIDs: JSON.stringify(filterPrjIDs)
            },
                    function (data) {
                        $('#loadingImg').hide();
                        if (data.Result) {
                            $("#ModeLabel").html(data.Message);
                            $('#ModeElem').val(data.Mode);
                            var pcsum = data.pcsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcavg = data.pcavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmin = data.pcmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmax = data.pcmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pcsum').html('<tt><dl class="dl-horizontal chartDL">'
                                + '<dt>SUM:&nbsp;</dt><dd class="text-right">' + pcsum + '</dd>'
                                + '<dt>AVG:&nbsp;</dt><dd class="text-right">' + pcavg + '</dd>'
                                + '<dt>MIN:&nbsp;</dt><dd class="text-right">' + pcmin + '</dd>'
                                + '<dt>MAX:&nbsp;</dt><dd class="text-right">' + pcmax + '</dd></dl></tt>');

                            var pdsum = data.pdsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdavg = data.pdavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmin = data.pdmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmax = data.pdmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pdsum').html('<tt><dl class="dl-horizontal chartDL">'
                                + '<dt>SUM:&nbsp;</dt><dd class="text-right">' + pdsum + '</dd>'
                                + '<dt>AVG:&nbsp;</dt><dd class="text-right">' + pdavg + '</dd>'
                                + '<dt>MIN:&nbsp;</dt><dd class="text-right">' + pdmin + '</dd>'
                                + '<dt>MAX:&nbsp;</dt><dd class="text-right">' + pdmax + '</dd></dl></tt>');
                            DrawChart(data.Mode, data.ChartData, data.ChartDataA, chartType, _Year);

                            //Инициализация таблицы проектов в плавающей панели
                            //Заполнение массива проектов для таблицы в плавающей панели
                            if (window._flag) {
                                _prjIDs = JSON.parse(data.prjlist);
                                var pTable = $('#prgtable').DataTable();
                                pTable.destroy();
                                prgTableCrate();
                                $('#flowPanel').height($('#prgtable_wrapper').height() + 80);
                                window._flag = false;
                            };
                        }
                        else {
                            alert(data.Message);
                        }
                    });
        };

        function DrawChart(mode, ChartData, ChartDataA, chartType, _Year) {

            $('#myChart').remove();
            $('#cnvdiv').append('<canvas id="myChart" width="800" height="400"><canvas>');

            var canvas = $('#myChart');
            var ctx = canvas.get(0).getContext("2d");

            var myChart = new Chart(ctx, {
                type: chartType,
                data: {
                    labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                    datasets: [
                        {
                            label: 'План доходов',
                            data: ChartData,
                            backgroundColor: 'rgba(128, 200, 64, 0.2)',
                            borderColor: 'rgba(128, 200, 64, 1)',
                            borderWidth: 1
                        },

                         {
                             label: 'План расходов',
                             data: ChartDataA,
                             backgroundColor: 'rgba(255, 99, 132, 0.2)',
                             borderColor: 'rgba(255, 99, 132, 1)',
                             borderWidth: 1
                         }
                    ]
                },
                options: {
                    responsive: false, // Без этой строки появляется ошибка "Cannot read property 'currentStyle' of null" при изменении масштаба.
                    maintainAspectRatio: true,
                    title: {
                        display: true,
                        position: 'top',
                        fontSize: 14,
                        fontColor: '#46709D',
                        text: 'Анализ плановых показателей за ' + _Year + ' год'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                //yAxes labels currency format.
                                //Для корректного формирования значения подписи оси используем функцию toFixed()с разными параметрами.
                                callback: function (label, index, labels) {
                                    if (label <= 1) {
                                        return label.toFixed(1).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                                    }
                                    else {
                                        return label.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                                    }
                                }
                            }
                        }]
                    },
                    // Tooltips currency format
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                            }
                        }
                    }
                }
            });
        };

    </script>

}