@{
    ViewBag.Title = "Анализ плановых показателей";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var years = Enumerable
    .Range(DateTime.Now.Year - 10, 11)
    .Select(year => new SelectListItem
    {
        Value = year.ToString(),
        Text = year.ToString(),
        Selected = (year == DateTime.Today.Year)
    });
}

<style>
    .text-bold {
        font-weight: bold;
    }

    .DTFC_Blocker{
        background-color:white !important;
        border: 1px solid #ddd;
        border-bottom:none;
    }
</style>

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

<div id="loadingImg">
    <div id="preloadImg">
        <img src="~/Content/Images/loader.gif" />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ОТЧЕТЫ
                <small>Анализ плановых показателей</small>
            </h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home", new { Area = "" }, null)</li>
                <li>Отчеты</li>
                <li class="active">Анализ плановых показателей</li>
            </ol>
        </div>
    </div>

    @*Блок диаграммы*@
    <div id="chartReport" hidden>
        <div class="row form-inline">
            @Html.DropDownList("year", years, new
       {
           @class = "form-control form-inline input-sm",
           style = "margin:2px; width:100px; display:inline-block;",
           id = "YDDL",
       })

            <select id="chartType" class="form-control input-sm" style="width:140px;">
                <option value="bar">Графбар</option>
                <option value="line">Линейная</option>
            </select>

            <input type="button" class="btn-default btn-sm modeBtn" style="width:140px;" value="Табличный отчет">
        </div>

        <div class="row chartRow">
            <div class="chartContainer" id="cnvdiv">
                <canvas id="myChart" width="800" height="400"></canvas>
            </div>
            <div class="chartInfoes">
                <span id="pcsum" class="inStat">ДОХОДЫ</span>
                <span id="pdsum" class="outStat">РАСХОДЫ</span>
            </div>
        </div>
    </div>

    @* Блок табличного отчета *@
    <div id="tblReport" hidden>
        <div class="row">
            @Html.DropDownList("PeriodDDL", (SelectList)ViewData["periodItems"], null, new
       {
           @class = "form-control input-sm",
           name = "PeriodDDL",
           title = "Плановый период",
           style = "float:left !important; margin-right:4px;"
       })
            <input type="button" class="btn btn-default btn-sm modeBtn" style="width:140px;" value="Диаграмма">
        </div>
        <div class="row">
            <h2 class="text-danger text-center">В РАЗРАБОТКЕ</h2>
            <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
                <thead>
                    <tr role="row">
                        <th rowspan="2" style="min-width:160px !important;">Проект</th>
                        <th colspan="2">Период 1</th>
                        <th colspan="2">Период 2</th>
                        <th colspan="2">Период 3</th>
                        <th colspan="2">Период 4</th>
                        <th colspan="2">Период 5</th>
                        <th colspan="2">Период 6</th>
                        <th colspan="2">Период 7</th>
                        <th colspan="2">Период 8</th>
                        <th colspan="2">Период 9</th>
                        <th colspan="2">Период 10</th>
                        <th colspan="2">Период 11</th>
                        <th colspan="2">Период 12</th>
                        <th colspan="2" style="min-width:160px !important;">Итого</th>
                    </tr>
                    <tr role="row">
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                        <th class="smallTH">Доход</th>
                        <th class="smallTH">Расход</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <a href="#" class="scrollup1">Наверх</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.fixedColumns.min.js"></script>
    <script src="~/Scripts/toparrow.js"></script>
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
    <script src="~/Scripts/Chart.js"></script>
    <script>
        $(function () {
            $('#loadingImg').hide();
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });


        $('body').on('change', '#YDDL', function (e) {
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        $('body').on('change', '#chartType', function (e) {
            var _Year = $('#YDDL').val();
            var chartType = $("#chartType").val();
            GetChart(_Year, chartType);
        });

        function GetChart(_Year, chartType) {
            $('#loadingImg').show();
            $.get('/Reports/GetPlanData', {
                Year: _Year,
            },
                    function (data) {
                        $('#loadingImg').hide();
                        if (data.Result) {
                            $("#ModeLabel").html(data.Message);
                            $('#ModeElem').val(data.Mode);
                            var pcsum = data.pcsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcavg = data.pcavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmin = data.pcmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pcmax = data.pcmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pcsum').html('<tt><dl class="dl-horizontal chartDL">'
                                + '<dt>SUM:&nbsp;</dt><dd class="text-right">' + pcsum + '</dd>'
                                + '<dt>AVG:&nbsp;</dt><dd class="text-right">' + pcavg + '</dd>'
                                + '<dt>MIN:&nbsp;</dt><dd class="text-right">' + pcmin + '</dd>'
                                + '<dt>MAX:&nbsp;</dt><dd class="text-right">' + pcmax + '</dd></dl></tt>');

                            var pdsum = data.pdsum.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdavg = data.pdavg.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmin = data.pdmin.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            var pdmax = data.pdmax.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1&nbsp;");
                            $('#pdsum').html('<tt><dl class="dl-horizontal chartDL">'
                                + '<dt>SUM:&nbsp;</dt><dd class="text-right">' + pdsum + '</dd>'
                                + '<dt>AVG:&nbsp;</dt><dd class="text-right">' + pdavg + '</dd>'
                                + '<dt>MIN:&nbsp;</dt><dd class="text-right">' + pdmin + '</dd>'
                                + '<dt>MAX:&nbsp;</dt><dd class="text-right">' + pdmax + '</dd></dl></tt>');
                            DrawChart(data.Mode, data.ChartData, data.ChartDataA, chartType, _Year);
                        }
                        else {
                            alert(data.Message);
                        }
                    });
        };

        function DrawChart(mode, ChartData, ChartDataA, chartType, _Year) {

            $('#myChart').remove();
            $('#cnvdiv').append('<canvas id="myChart" width="800" height="400"><canvas>');

            var canvas = $('#myChart');
            var ctx = canvas.get(0).getContext("2d");

            var myChart = new Chart(ctx, {
                type: chartType,
                data: {
                    labels: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Декабрь"],
                    datasets: [
                        {
                            label: 'План доходов',
                            data: ChartData,
                            backgroundColor: 'rgba(128, 200, 64, 0.2)',
                            borderColor: 'rgba(128, 200, 64, 1)',
                            borderWidth: 1
                        },

                         {
                             label: 'План расходов',
                             data: ChartDataA,
                             backgroundColor: 'rgba(255, 99, 132, 0.2)',
                             borderColor: 'rgba(255, 99, 132, 1)',
                             borderWidth: 1
                         }
                    ]
                },
                options: {
                    responsive: false, // Без этой строки появляется ошибка "Cannot read property 'currentStyle' of null" при изменении масштаба.
                    maintainAspectRatio: true,
                    title: {
                        display: true,
                        position: 'top',
                        fontSize: 14,
                        fontColor: '#46709D',
                        text: 'Анализ плановых показателей за ' + _Year + ' год'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                //yAxes labels currency format.
                                //Для корректного формирования значения подписи оси используем функцию toFixed()с разными параметрами.
                                callback: function (label, index, labels) {
                                    if (label <= 1) {
                                        return label.toFixed(1).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                                    }
                                    else {
                                        return label.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                                    }
                                }
                            }
                        }]
                    },
                    // Tooltips currency format
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                return data.datasets[tooltipItem.datasetIndex].label + ": " + tooltipItem.yLabel.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1 ");
                            }
                        }
                    }
                }
            });
        };

    </script>

    <script type="text/javascript">
        //Скрипт для работы с контекстным меню
        $(function () {
            $.contextMenu({
                selector: '.dataTables_empty, td.context-menu-one',
                callback: function (key, options) {
                    var fClass = $(this).attr('class');
                    switch (key) {
                        case 'filter':
                            if (fClass.indexOf("prgCellf") >= 0) {
                                $('#gridtable_filter').find('input').val($(this).text()).trigger('keyup');
                            }
                            break;
                        case 'refresh':
                            ClearFilter();
                            break;
                        default:
                            return;
                    }
                },
                items: {
                    "filter": {
                        name: "Фильтр по значению",
                        icon: "filter",
                        disabled: function () {
                            var fClass = $(this).attr('class');
                            if (fClass.indexOf("Cellf") >= 0) { return false };
                            return true;
                        }
                    },
                    "refresh": { name: "Сброс фильтра", icon: "refresh" }
                }
            });
        });
    </script>

    <script>
        //Скрипт переключения режимов отображения отчета (Диаграмма/Табличный)
        $(function () {
            var planReportMode = "Chart";
            if (localStorage.getItem('PlanReportType')) {
                planReportMode = localStorage.getItem('PlanReportType');
            }
            switch (planReportMode) {
                case "Table":
                    $('#chartReport').fadeOut(500, function () {
                        $('#loadingImg').hide();
                        $('#tblReport').fadeIn(500, function () {
                            createGrid();
                        });
                    });
                    return;
                case "Chart":
                    $('#tblReport').fadeOut(500, function () {
                        $('#chartReport').fadeIn(500, function () {
                            var table = $('#gridtable').DataTable();
                            table.destroy();
                        });
                    });
                    return;
                default:
                    return;
            }
        });

        $('body').on('click', '.modeBtn', function () {
            if ($(this).val() === 'Табличный отчет') {
                $('#chartReport').fadeOut(500, function () {
                    localStorage.setItem('PlanReportType', "Table");
                    $('#loadingImg').hide();
                    $('#tblReport').fadeIn(500, function () {
                        createGrid();
                    });
                });
            }
            if ($(this).val() === 'Диаграмма') {
                $('#tblReport').fadeOut(500, function () {
                    localStorage.setItem('PlanReportType', "Chart");
                    $('#chartReport').fadeIn(500, function () {
                        var table = $('#gridtable').DataTable();
                        table.destroy();
                    });
                });
            }
        });
    </script>

    <script>
        //Скрипт для работы с фильтром выбора планового периода
        $(function () {
            //Читаем значение фильтра планового периода
            if (localStorage.getItem('PlanningPeriod') !== null) {
                var DDLVal = localStorage.getItem('PlanningPeriod');
                $('#PeriodDDL').val(DDLVal);
            }

            $('body').on('change', '#PeriodDDL', function () {
                localStorage.setItem('PlanningPeriod', $(this).val());
            });
        });
    </script>

    <script>
        //Скрипт создания таблицы
        function createGrid() {
            $('#loadingImg').hide();
            var table = $('#gridtable').DataTable({
                scrollY: "400px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 2
                },
                processing: true,
                serverSide: true,
                filter: true,
                orderMulti: false,
                responsive: false,
                pageLength: 25, // Количество записей в таблице по умолчанию
                pagingType: "simple_numbers",
                dom: "<'row'<'col-sm-3'l><'col-sm-9'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                language: {
                    lengthMenu: "Записей: _MENU_",
                    zeroRecords: "Записи отсутствуют",
                    info: "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                    infoEmpty: "Записи отсутствуют",
                    infoFiltered: "(Отфильтровано из _MAX_ записей)",
                    search: "Проект",
                    processing: "<div id='loadingImg'><div id='preloadImg'><img src='../Content/Images/loader.gif' /></div></div>",
                    sInfoThousands: " ",
                    oPaginate: {
                        sNext: ">",
                        sPrevious: "<"
                    }
                },
                ajax: {
                    url: "/Reports/LoadTabRep",
                    type: "POST",
                    datatype: "json",
                    dataSrc: function (d) {
                        if (d.data.length === 0) {
                            if (d.errormessage != "") {
                                alert(d.errormessage);
                            }
                        }
                        return d.data;
                    },
                },
                order: [[0, "asc"]],
                columns: [
                    { data: "ProjectName", name: "ProjectName", "class": "context-menu-one prgCellf" },
                    { data: "d1c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d1d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d2c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d2d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d3c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d3d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d4c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d4d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d5c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d5d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d6c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d6d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d7c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d7d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d8c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d8d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d9c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d9d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d10c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d10d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d11c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d11d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d12c", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "d12d", render: $.fn.dataTable.render.number('&nbsp;', ',', 1), bSortable: false, "class": "text-right context-menu-one" },
                    { data: "dresc", "autoWidth": true, bSortable: false, render: $.fn.dataTable.render.number('&nbsp;', ',', 1), "class": "text-right context-menu-one " },
                    { data: "dresd", "autoWidth": true, bSortable: false, render: $.fn.dataTable.render.number('&nbsp;', ',', 1), "class": "text-right context-menu-one " }
                ],
                "createdRow": function (row, data, index) {
                    if (data.ProjectName === "Всего") {
                        $(row).addClass('text-bold text-right');
                        $('td', row).eq(0).removeClass('prgCellf').addClass('text-right');
                    }
                }
            });

            var tbl = $('#gridtable').DataTable();
            tbl.row.add({
                "ProjectName": "Отклонение",
                "d1c":"111", 
                "d1d":"111", 
                "d2c":"111", 
                "d2d":"111", 
                "d3c":"111", 
                "d3d":"111", 
                "d4c":"111", 
                "d4d":"111", 
                "d5c":"111", 
                "d5d":"111", 
                "d6c":"111", 
                "d6d":"111", 
                "d7c":"111", 
                "d7d":"111", 
                "d8c":"111", 
                "d8d":"111", 
                "d9c":"111", 
                "d9d":"111", 
                "d10c":"111",
                "d10d":"111",
                "d11c":"111",
                "d11d":"111",
                "d12c":"111",
                "d12d":"111",
                "dresc" : "456",
                "dresd" : "456"
            }).draw().node();

        };
    </script>

    <script>
        function ClearFilter() {
            $('#gridtable_filter').find('input').val('').trigger('keyup');
        }
    </script>
}