<div class="modal-content ">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Проекты</h4>
    </div>

    <div class="modal-body">

        <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />
        <link href="~/Content/jquery.contextMenu.min.css" rel="stylesheet" />

        <div class="container">
            <p class="pull-right">
                <a class="btn btn-default" style="margin:2px 2px;" id="filterBtn" title="Панель фильтра" href='#'><i class="glyphicon glyphicon-filter"></i></a>
                <a class="btn btn-default" style="margin:2px 2px;" id="filterClear" title="Сброс фильтра" href='#'><i class="glyphicon glyphicon-refresh"></i></a>
            </p>

            <table class="table table table-bordered table-striped table-responsive table-hover gridtable" id="gridtable" style="width:100%">
                <thead>
                    <tr role="row" id="search-row" style="background-color:#ddddff">
                        <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Название" /></th>
                        <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Описание" /></th>
                        <th><input type="text" class="form-control input-sm sb" style="width: 100%" placeholder="Тип" /></th>
                        <th><input type="text" class="form-control input-sm dff" style="width: 100%" placeholder="Начало" /></th>
                        <th><input type="text" class="form-control input-sm dff" style="width: 100%" placeholder="Окончание" /></th>
                        <th><input type="text" class="form-control input-sm dff" style="width: 100%" placeholder="Начало" /></th>
                        <th><input type="text" class="form-control input-sm dff" style="width: 100%" placeholder="Окончание" /></th>
                    </tr>

                    <tr role="row">
                        <th rowspan="2">Название</th>
                        <th rowspan="2">Описание</th>
                        <th rowspan="2">Тип</th>
                        <th colspan="2">Факт</th>
                        <th colspan="2">План</th>
                    </tr>

                    <tr role="row">
                        <th>Начало</th>
                        <th>Окончание</th>
                        <th>Начало</th>
                        <th>Окончание</th>
                    </tr>

                </thead>
                <tbody></tbody>
            </table>
            <a href="#" class="scrollup1">Наверх</a>
        </div>

    </div>

</div>

<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.responsive.min.js"></script>
<script src="~/Scripts/DataTables/responsive.bootstrap.min.js"></script>
<script src="~/Scripts/jquery.contextMenu.min.js"></script>
<script src="~/Scripts/toparrow.js"></script>
@*Блок скриптов для работы с DateTimePicker*@
<script type="text/javascript">

    $.datetimepicker.setLocale('ru');

    jQuery(function () {
        jQuery('.dff').datetimepicker({
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            timepicker: false
        });
    });

</script>

<script type="text/javascript">
    $(function () {

        //Блок для работы с контекстным меню
        $.contextMenu({
            selector: '.context-menu-one',
            callback: function (key, options) {
                var m = '';
                switch (key) {
                    case 'select':
                        var prgId = $(this).data('prgid');
                        var prgName = $(this).data('prgname');

                        $("#ProjectId").val(prgId);
                        $("#prgSelect").val(prgName).focus();
                        $('#modDialog').modal('hide');
                        break;

                    default:
                        return;
                }
            },
            items: {
                "select": { name: "Выбрать", icon: "select" },
            }
        });

        //Двойной щелчек по строке таблицы.
        $('#gridtable tbody').on('dblclick', 'tr', function () {
            var prgId = $(this).data('prgid');
            var prgName = $(this).data('prgname');

            $("#ProjectId").val(prgId);
            $("#prgSelect").val(prgName).focus();
            $('#modDialog').modal('hide');

        });


        $('#loadingImg').hide();
        var table = $('#gridtable').DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": true,
            "responsive": true,
            "pagingType": "simple_numbers",
            "dom": "<'row'<'col-sm-3'l><'col-sm-9 text-center'B>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "language": {
                "lengthMenu": "Записей: _MENU_",
                "zeroRecords": "Записи отсутствуют",
                "info": "Страница _PAGE_ из _PAGES_. Записи _START_ - _END_ из _TOTAL_",
                "infoEmpty": "Записи отсутствуют",
                "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                "search": "Поиск",
                "processing": "<div id='loadingImg'><div id='preloadImg'><img src='../Content/Images/loader.gif' /></div></div>",
                "sInfoThousands": " ",
                "oPaginate": {
                    "sNext": ">",
                    "sPrevious": "<"
                }
            },
            "ajax": {
                "url": "/Directum/LoadProjectsPartial",
                "type": "POST",
                "datatype": "json",
                dataSrc: function (d) {
                    if (d.data.length === 0) {
                        if (d.errormessage != "") {
                            alert(d.errormessage);
                        }
                    }
                    return d.data;
                }
            },
            "columns": [
                { "data": "ShortName", "name": "ShortName", "autoWidth": true },
                { "data": "Desc", "name": "Desc", "autoWidth": true },
                { "data": "ProjectType", "name": "ProjectType", "autoWidth": true },
                {
                    "data": "StartDateFact", "name": "StartDateFact", "autoWidth": true,
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
                        var _m = (dt.getMonth() + 1) < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
                        return _d + "/" + _m + "/" + dt.getFullYear();
                    }
                },
                {
                    "data": "EndDateFact", "name": "EndDateFact", "autoWidth": true,
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
                        var _m = dt.getMonth() < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
                        return _d + "/" + _m + "/" + dt.getFullYear();
                    }
                },
                {
                    "data": "StartDatePlan", "name": "StartDatePlan", "autoWidth": true,
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
                        var _m = dt.getMonth() < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
                        return _d + "/" + _m + "/" + dt.getFullYear();
                    }
                },
                {
                    "data": "EndDatePlan", "name": "EndDatePlan", "autoWidth": true,
                    "type": "date ",
                    "render": function (value) {
                        if (value === null) return "";
                        var pattern = /Date\(([^)]+)\)/;
                        var results = pattern.exec(value);
                        var dt = new Date(parseFloat(results[1]));
                        var _d = dt.getDate() < 10 ? "0" + dt.getDate() : dt.getDate();
                        var _m = dt.getMonth() < 10 ? "0" + (dt.getMonth() + 1) : (dt.getMonth() + 1);
                        return _d + "/" + _m + "/" + dt.getFullYear();
                    }
                },

                { "data": "id", "name": "id", "autoWidth": false }
            ],
            "columnDefs": [{ "visible": false, "targets": [7] }],
            "order": [[7, "desc"]],
            "createdRow": function (row, data, rowIndex) {
                $(row).attr('data-prgid', data.id);
                $(row).attr('data-prgname', data.ShortName);
                if (data.State === 'Д') {
                    $(row).attr('class', 'context-menu-one');
                }
                else {
                    $(row).attr('class', 'context-menu-one');
                    $(row).attr('class', 'blocked-color');
                }
            }
        });


        table.columns().eq(0).each(function (colIdx) {
            $('.sb', $('th')[colIdx]).on('keyup change', function () {
                table.column(colIdx).search(this.value).draw();
            });

            $('.dff', $('th')[colIdx]).on('change', function () {
                table.column(colIdx).search(this.value).draw();
            });
        });

    });

</script>

<script>
    $('body').on('click', '#filterBtn', function () {
        $('#search-row').toggle(300);
    });

    $('body').on('click', '#filterClear', function () {
        var table = $('#gridtable').DataTable().draw();
        $(".sb, .dff").each(function (colIdx) {
            $(this).val('');
            table.column(colIdx).search('');
        });
        table.draw();

    });
</script>