@{
    ViewBag.Title = "F-RESULT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    H1 {
        text-shadow: -1px -1px #FFF, -2px -2px #FFF, -1px 1px #FFF, -2px 2px #FFF, 1px 1px #FFF, 2px 2px #FFF, 1px -1px #FFF, 2px -2px #FFF, -3px -3px 2px #BBB, -3px 3px 2px #BBB, 3px 3px 2px #BBB, 3px -3px 2px #BBB;
        color: steelblue;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
        font-size: 4em;
    }

        H1:hover {
            color: yellowgreen;
        }

 </style>


<div class="container">
    @if (Request.IsAuthenticated)
    {
        <div style="width:100%; margin:5em auto; text-align:center;">
            <h1>F-RESULT</h1>
            <p>Добро пожаловать, @ViewData["FirstName"]!</p>
            <p>Вы вошли как @ViewData["UserName"]</p>
            <p>Ваша роль в системе - @ViewData["UserRole"]</p>
            <p style="text-decoration:underline; text-transform:uppercase;">Мы желаем Вам приятной работы</p>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            setPosition();
        })

        $(window).resize(function () {
            setPosition();
        });

        function setPosition() {
            var wHeight = $(window).height();
            var fHeight = $('#footerBlock').height();
            if (wHeight < 420) {
                $('#footerBlock').hide();
            }
            else {
                $('#footerBlock')
                    .show()
                    .css('position', 'absolute')
                    .css('top', wHeight - fHeight)
                    .css('left', ($(window).width() / 2) - ($('#footerBlock').width() / 2));
            };
        }
    </script>
}