@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "UsersManagement", new { area = "Administrator" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li id="personalMenu" class="dropdown">
                <a href="#" title="Персональный раздел" class="dropdown-toggle" data-toggle="dropdown">-@User.Identity.GetUserName()-&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" id="addComment"><i class="fa fa-comment" style="margin-right:10px;"></i>&nbsp;Добавить отзыв</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CommentsShow", "Feedback")"><i class="fa fa-comments" style="margin-right:10px;"></i>&nbsp;Отзывы</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="@Url.Action("SelfPasswordChange", "UsersManagement", new {Area = "Administrator" })"><i class="fa fa-key" style="margin-right:10px;"></i>&nbsp;Смена пароля</a>
                    </li>
                </ul>
            </li>
            <li><a title="Выйти" href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Вход", "Login", routeValues: new { area = "Administrator", controller = "UsersManagement" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
