@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "UsersManagement", new { area = "Administrator" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("- " + User.Identity.GetUserName() + " -", "SelfPasswordChange", routeValues: new { area = "Administrator", controller = "UsersManagement" }, htmlAttributes: new { title = "Смена пароля" })
            </li>
            <li><a title="Выйти" href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Вход", "Login", routeValues: new { area = "Administrator", controller = "UsersManagement" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
