@{
    ViewBag.Title = "В разработке";
}
<div class="container">
    <div style="width:100%; margin: 40px; auto; text-align:center;">
        <h2 class="text-danger">Данная страница находится в разработке</h2>
        <img src="~/Content/Images/construction.jpg" />
        <h3 class="text-danger">Приносим извинения за причиненные неудобства</h3>
    </div>
</div>
